

@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;600&family=EB+Garamond:wght@400;500&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background: #1b1a17;
    color: #e8dccb;
    font-family: 'EB Garamond', serif;
}


header {
    background: #2a2925;
    padding: 20px;
    border-bottom: 1px solid #5a5244;
}

header h1 {
    text-align: center;
    font-family: 'Cinzel', serif;
    letter-spacing: 3px;
    color: #d6c3a3;
}

nav {
    text-align: center;
    margin-top: 10px;
}

nav a {
    text-decoration: none;
    margin: 0 15px;
    color: #c2b59b;
    font-size: 16px;
    transition: 0.3s;
}

nav a:hover {
    color: #f5e6cc;
    border-bottom: 1px solid #f5e6cc;
}


.hero {
    text-align: center;
    padding: 60px 20px;
}

.hero h2 {
    font-family: 'Cinzel', serif;
    font-size: 28px;
    margin-bottom: 15px;
    color: #d6c3a3;
}

.hero p {
    font-size: 18px;
    max-width: 600px;
    margin: auto;
    line-height: 1.6;
}

.hero img {
    width: 90%;
    max-width: 850px;
    margin-top: 30px;
    border-radius: 8px;
    filter: sepia(40%) brightness(80%);
    box-shadow: 0 0 25px rgba(0,0,0,0.7);
}


section {
    padding: 50px 20px;
    text-align: center;
}


.card {
    display: inline-block;
    margin: 15px;
    padding: 20px 30px;
    border: 1px solid #5a5244;
    background: #2a2925;
    color: #e8dccb;
    border-radius: 8px;
    transition: 0.3s;
}

.card:hover {
    background: #3a362f;
    transform: translateY(-5px);
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
    padding: 30px;
}

.gallery img {
    width: 100%;
    border-radius: 6px;
    filter: grayscale(30%) sepia(30%);
    transition: 0.4s;
}

.gallery img:hover {
    filter: none;
    transform: scale(1.03);
}


form {
    max-width: 450px;
    margin: auto;
    background: #2a2925;
    padding: 25px;
    border: 1px solid #5a5244;
    border-radius: 8px;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    background: #1b1a17;
    border: 1px solid #5a5244;
    color: #e8dccb;
    border-radius: 5px;
}


button {
    padding: 10px;
    width: 100%;
    background: #5a5244;
    color: #f5e6cc;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Cinzel', serif;
}

button:hover {
    background: #7a6f5a;
}


section a {
    color: #d6c3a3;
    text-decoration: none;
    border-bottom: 1px solid #d6c3a3;
}

section a:hover {
    color: #f5e6cc;
}


footer {
    text-align: center;
    padding: 20px;
    background: #2a2925;
    border-top: 1px solid #5a5244;
    margin-top: 40px;
}
    
    
